<h1>詳細画面</h1>

<p><%= @task.id %></p>
<p><%= @task.title %></p>
<p><%= @task.contents %></p>

<p><%= link_to '編集画面へ', "/tasks/#{@task.id}/edit/" %></p>
<p><%= link_to '一覧画面に戻る', '/tasks/' %></p>